/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp Q   &kp W   &kp E          &kp R      &kp T   &kp Z   &kp U      &kp I    &kp O           &kp P
  &kp A   &kp S   &kp D          &kp F      &kp G   &kp H   &kp J      &kp K    &kp L       &kp ENTER
  &kp Y   &kp X   &kp C          &kp V      &kp B   &kp N   &kp M  &kp COMMA  &kp DOT  &sk LEFT_SHIFT
                         &kp BACKSPACE  &kp SPACE   &mo 1   &mo 2
            >;
        };
    };
};
